
</div>

</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>GOALS! A simple blog writer - Created with Node.js and EJS , Practice Code by applekiwiejuice &copy</p>
  </div>
</body>
</html>
