<%- include('partials/header'); -%>

<h1>About</h1>
<p><%= aboutContent %></p>
<p>View on GitHub <a href="https://github.com/applekiwiejuice/goals">https://github.com/applekiwiejuice/goals</a></p>





<%- include('partials/footer'); -%>
